[Unit]
Description=Containerd Service
After=network.target

[Service]
ExecStart=/usr/local/bin/containerd

[Install]
WantedBy=multi-user.target
Alias=containerd.service
